name: Cosign Test

on:
  push:
    branches:
      - main

jobs:
  cosign:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: sigstore/cosign-installer@v3

      - run: cosign sign-blob --yes --new-bundle-format --bundle main.go.bundle main.go

      - uses: actions/upload-artifact@v4
        with:
          name: bundle
          path: main.go.bundle
